body {
  /* outer layout */
  margin: 0;
}

/* #f0c0e0 -> orange-100 (approximately) */
/* #3c8f10 -> emerald-700 (approximately) */
/* #30c0f0 -> sky-400 (approximately) */
/* #333 -> gray-800 (approximately) */
/* 3rem -> 5xl (exactly) */

.ResultPage__container {
  /* outer layout */
  width: 100%;
  height: 100%;

  /* inner layout */
  display: flex;
  flex-direction: column;
  place-content: center;
  place-items: center;
}

.ResultPage__title {
  /* outer layout */
  margin: 0;

  /* text */
  font-size: 3rem;
  font-weight: bold;
  text-align: center;

  /* content */
  color: #333;
}

.ResultPage__lottery {
  /* outer layout */
  padding: 10px 20px;

  /* text */
  font-size: 1.5rem;
}

.ResultPage__lottery-main {
  /* text */
  font-size: 2rem;
  font-weight: bold;
}

.ResultPage__go-back-button {
  /* outer layout */
  margin-top: 20px;
  padding: 10px 20px;

  /* text */
  font-size: 1.5rem;
}

.sel {
  /* outer layout */
  border: none;
  border-radius: 5px;

  /* text */
  font-size: 1.25rem;

  /* content */
  background-color: #F8F0F0;
  color: #080810;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.sel:focus {
  outline: none;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}
.sel:focus-visible {
  outline: 2px solid #30C0F0;
  outline-offset: 2px;
}
