@import "tailwindcss";

@utility text-abs-50 {
  font-size: calc(var(--spacing) * 50);
}
@utility inset-shadow-large {
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
}

@layer components {
  .btn {
    /* outer layout */
    border: none;
    border-radius: 5px;

    /* content */
    background-color: var(--color-green-700);
    color: white;
    cursor: pointer;
    box-shadow: var(--shadow-md);
  }

  .btn:focus {
    outline: none;
    box-shadow: var(--shadow-lg);
  }
  .btn:focus-visible {
    outline: 2px solid var(--color-sky-400);
    outline-offset: 2px;
  }

  .btn:hover, .btn:active {
    box-shadow: var(--shadow-xl);
  }

  .sel {
    /* outer layout */
    border: none;
    border-radius: var(--radius-md);

    /* content */
    background-color: var(--color-red-50);
    color: var(--stone-50);
    cursor: pointer;
    box-shadow: var(--shadow-sm);
  }
  .sel:focus {
    outline: none;
    box-shadow: var(--shadow-md);
  }
  .sel:focus-visible {
    outline: 2px solid var(--color-sky-400);
    outline-offset: 2px;
  }
}
